:root{
    --black: #191A23;
    --green: #B9FF66;
    --grey: #9f9f9f;
    --white: #FFFFFF;
}

html {
    box-sizing: border-box;
}

.btn-warning{
  background-color: var(--black) !important;
  border-color: var(--black) !important;
  color: var(--white) !important;
}

.btn-warning:hover{
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.btn-danger{
  background-color: var(--grey) !important;
  color: var(--black) !important;
  border-color: var(--grey) !important;
}

.btn-danger:hover{
  background-color: var(--white) !important;
  color: var(--grey) !important;
}


.btn-primary{
  background-color: var(--green) !important;
  border-color: var(--green) !important;
  color: var(--black) !important;
}

.btn-primary:hover{
  background-color: var(--white) !important;
  color: var(--black) !important;
  border-color: var(--black) !important;
}

h1{
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
}

h3{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}

h4{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.navbar{
    padding-left: 180px;
    padding-right: 250px;
    margin-bottom: 50px;
    background-color: var(--black);
}

.nav-title{
    font-weight: 900;
    color: var(--green);
}

.navbar-collapse {
    justify-content: end;
  }
  
.nav-link{
    font-weight: 500;
    color: var(--white);
}

.nav-link:hover{
    font-weight: 900;
    color: var(--white);
}

footer{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: var(--black);
}

.footer-basic {
    bottom: 0;
    margin-top: 0;
    width: 100%;
    height: 60px; 
    padding:40px 0;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:var(--grey);
    text-decoration:none;
  }

  .footer-basic ul a:hover {
    color:var(--green);
    text-decoration:none;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    color: var(--green);
    border:1px solid #B9FF66;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:var(--grey);
    margin-bottom:0;
  }

#account{
  font-size: 24px;
  cursor: pointer;
}

#trash-can{
  font-size: 16px;
  cursor: pointer;
}

#check-bold{
  font-size: 16px;
  cursor: pointer;
}

.banner{
  margin-top: 50px;
  margin-bottom: 50px;
}

.col.banner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-button{
  align-self: start;
}

.banner-1 h1{
  font-weight: bold;
}

.login{
  background-color: var(--green);
}

.image-login{
  display: flex;
  flex-direction: column;
}

.image-login img{
  width: fit-content;
}

.login-img-1{
  margin-right: 100px;
  margin-bottom: 50px;
}

.login-img-2{
  margin-bottom: 50px;
  margin-left: 100px;
}

.login-form{
  padding: 30px 50px 30px 50px;
  background-color: #292A32;
  border-radius: 20px;
  color: var(--white);
}

.btn-link{
  color: var(--black);
}

.btn-link:hover{
  color: var(--green) !important;
}

.login-register{
  background-color: #292A32;
  border-color: var(--white);
  color: var(--white);
}



.login-register:focus{
  background-color: #292A32;
  border-color: var(--green);
  color: var(--white);
}


.sign-in:hover{
  background-color: #292A32 !important;
  border-color: var(--green) !important;
  color: var(--green) !important;
  font-weight: bold;
}

.display-none{
  display: none;
}

.modal-content{
  padding: 30px 50px 30px 50px;
  background-color: #292A32;
  border-radius: 20px;
  color: var(--white);
}

.form-select{
  background-color: #292A32;
  border-radius: 20px;
  color: var(--white);
}

.form-black{
  background-color: #292A32;
  border-radius: 20px;
  color: var(--white);
}

.form-black:focus{
  background-color: #292A32;
  border-color: var(--green);
  color: var(--white);
}