<!doctype html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="test.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/app.css">
    <script src="https://kit.fontawesome.com/71e7cb605f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="header"></div>
  
  <main>
    <div class="container banner">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col banner-1">
            	<h1>Find Your Perfect Opportunity: Explore, Connect, Succeed.</h1>
              <p>Discover endless possibilities as you explore our vast database of opportunities from leading companies across industries. Whether you're a recent graduate, seasoned professional, or considering a career change, we've got you covered.</p>
              <a name="" id="" class="btn btn-primary up-button" href="#" role="button">Sign up</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col banner-2">
            <img src="../public/img/Illustration.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <div class="form-floating">
          <input type="text" class="form-control " id="input1" placeholder="Input 1">
          <label for="input1" class="text-truncate">Title</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="input2" placeholder="Input 2">
          <label for="input2">Modality</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="input3" placeholder="Input 3">
          <label for="input3" class="text-truncate">Salary</label>
        </div>
      </div>
    </div>
        
  
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Cajero del Soriana</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><b>Cajero del Oxxo</b></h4>
                  <p class="card-text">bla bla bla bla bla bla bla bla bla bla bla bla</p>
                  <p class="card-text"><b>Status:</b> On Going</p>
                  <p class="card-text"><b>Salary:</b> 15000$</p>
                  <p class="card-text"><b>Shift:</b> day</p>
                  <p class="card-text"><b>Modality:</b> Hybrid</p>
                  <p class="card-text"><b>Company:</b> Meta</p>
                  <button class="btn btn-danger">Apply</button>
              </div>
          </div><br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Diseñador Web</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Biologo marino</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>       
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Piloto</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Cocinero Crustáceo Cascarudo</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Medico</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>Maestro</b></h4>
              <p class="card-text">Cosa cosa cosa cosa cosa cosa</p>
              <p class="card-text"><b>Status:</b> On Going</p>
              <p class="card-text"><b>Salary:</b> 15000$</p>
              <p class="card-text"><b>Shift:</b> day</p>
              <p class="card-text"><b>Modality:</b> Hybrid</p>
              <p class="card-text"><b>Company:</b> Meta</p>
              <button class="btn btn-danger">Apply</button>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </main>
  <div id="footer"></div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="../controllers/header.js"></script>
  <script src="../controllers/footer.js"></script>
</body>
</html>